apache-airflow
apache-airflow-core

# Apache Airflow Providers
apache-airflow-providers-http
apache-airflow-providers-mysql
apache-airflow-providers-apache-spark
apache-airflow-providers-snowflake

# Hevo Provider Dependencies
aiohttp
pytest
